In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
dataset = pd.read_csv('dataset.csv')
dataset.shape

(53644, 26)

In [3]:
dataset.head(10)

,userName,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,...,termAndYear,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,143saf,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,...,Fall - 2015,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,...,Fall - 2013,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,...,Fall - 2015,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,...,Fall - 2011,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1
5,abhishek001,MIS,0,0,Information Security Management,273.0,MS,CE,6,0.0,...,Fall - 2006,0,Thadomal Shahani Engineering College,NaN,52.00,NaN,100,NaN,Worcester Polytechnic Institute,1
6,agteakash,MIS,0,0,Business Analytics,104.0,MS,Computer Engineering,27,0.0,...,Fall - 2015,0,University of Mumbai,NaN,62.20,NaN,100,NaN,Worcester Polytechnic Institute,1
7,alankarMIS,MIS-management related courses,0,0,NaN,95.0,MS,IT,22,0.0,...,Fall - 2012,0,MU,NaN,52.00,NaN,100,NaN,Worcester Polytechnic Institute,1
8,amandeepsharma89,MIS,0,0,NaN,101.0,MS,I.T,24,0.0,...,Fall - 2011,0,MU,NaN,64.00,NaN,100,NaN,Worcester Polytechnic Institute,1
9,amatelia3,Computer Science,0,0,NaN,107.0,MS,Information Technology,NaN,0.0,...,Fall - 2011,0,K J Somaiya College of Engiineering,NaN,71.40,NaN,100,NaN,Worcester Polytechnic Institute,1

In [4]:
dataset.columns

Index(['userName', 'major', 'researchExp', 'industryExp', 'specialization',
       'toeflScore', 'program', 'department', 'toeflEssay', 'internExp',
       'greV', 'greQ', 'userProfileLink', 'journalPubs', 'greA', 'topperCgpa',
       'termAndYear', 'confPubs', 'ugCollege', 'gmatA', 'cgpa', 'gmatQ',
       'cgpaScale', 'gmatV', 'univName', 'admit'],
      dtype='object')

In [5]:
dataset.isna().sum()

userName               0
major                387
researchExp            0
industryExp            0
specialization     21695
toeflScore          4414
program              322
department             1
toeflEssay         41770
internExp             14
greV                1256
greQ                1220
userProfileLink        0
journalPubs          322
greA                2858
topperCgpa             3
termAndYear          322
confPubs             322
ugCollege           2278
gmatA              53525
cgpa                   0
gmatQ              53521
cgpaScale              0
gmatV              53530
univName               0
admit                  0
dtype: int64

In [6]:
dataset['admit'].value_counts()

admit
1    27955
0    25689
Name: count, dtype: int64

In [7]:
dataset['univName'].value_counts()

univName
North Carolina State University                        3413
University of Texas Dallas                             3402
Arizona State University                               3176
SUNY Buffalo                                           2329
University of Florida                                  2318
Texas A and M University College Station               2181
Northeastern University                                2019
University of Southern California                      1960
Georgia Institute of Technology                        1958
University of Illinois Chicago                         1912
SUNY Stony Brook                                       1541
Carnegie Mellon University                             1412
Syracuse University                                    1347
University of Minnesota Twin Cities                    1245
University of Texas Arlington                          1122
University of Cincinnati                               1120
University of North Carolina Charlotte                 1111
University of Maryland College Park                    1096
University of Texas Austin                             1066
Purdue University                                      1046
University of Arizona                                   988
University of California Irvine                         987
Virginia Polytechnic Institute and State University     982
Ohio State University Columbus                          913
University of Wisconsin Madison                         896
University of Massachusetts Amherst                     828
University of Pennsylvania                              819
University of Illinois Urbana-Champaign                 790
Clemson University                                      779
University of Colorado Boulder                          767
University of Michigan Ann Arbor                        662
University of California San Diego                      654
University of Utah                                      611
Cornell University                                      594
University of California Los Angeles                    539
New Jersey Institute of Technology                      539
Rutgers University New Brunswick/Piscataway             534
University of California Santa Barbara                  483
University of Washington                                475
New York University                                     455
Columbia University                                     449
George Mason University                                 434
Stanford University                                     348
University of California Davis                          234
Johns Hopkins University                                187
Wayne State University                                  183
Worcester Polytechnic Institute                         154
University of California Santa Cruz                     149
Northwestern University                                 104
University of North Carolina Chapel Hill                103
Massachusetts Institute of Technology                   100
California Institute of Technology                       54
Princeton University                                     52
Harvard University                                       24
Name: count, dtype: int64

In [8]:
len(set(dataset['univName']))

54

In [9]:
dataset['ugCollege'].value_counts()

ugCollege
MU                                             3763
VTU                                            3189
Anna University                                2206
Pune University                                1458
JNTU                                           1176
                                               ...
CQUT                                              1
kaushik college of engg                           1
D.A.V college                                     1
MGM's College of Engineering and Technology       1
National Institute of Engineerint VTU             1
Name: count, Length: 1822, dtype: int64

In [10]:
len(set(dataset['ugCollege']))

1823